<!doctype html>
<html lang="en-GB" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DDoS Monitor</title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico"/>
    <link rel="stylesheet" media="screen" th:href="@{/static/styles/styles.css}">
</head>
<header>
    <div style="width: 100%;margin-left: 80px;margin-right: 80px;">
        <div style="display: flex">
            <a href="/">
                <div class="button">
                    <p>Main</p>
                </div>
            </a>
            <a href="/leaked">
                <div class="button">
                    <p>Leaked</p>
                </div>
            </a>
            <a target="_blank" href="/swagger-ui/">
                <div class="button">
                    <p>API</p>
                </div>
            </a>
            <a class="opacity-on-hover" target="_blank" href="https://t.me/ddosmonitor"><img
                    src="https://img.icons8.com/color/48/000000/telegram-app--v1.png"/></a>
        </div>
    </div>
</header>
<body style="display: flex; flex-direction: column">
<p style="text-align: center;color: red;">Site changed url because of problems with Russians and Ukrainian internet provoders and servers. New adress - https://ddosmonitor.herokuapp.com<br>
    Enter our Telegram channel to have another information channel and to be aware of the news!<br><br>
    Сайт переїхав на іншу адресу через проблеми з Російськими та Українськими інтернет провайдерами та серверами. Нова адреса - https://ddosmonitor.herokuapp.com<br>
    Вступіть у наш Телеграм - канал, щоб мати інший канал зв`язку і бути в курсі новин та оновлень!
</p>
<form th:if="true == false" style="display: flex; margin: auto;align-items: center;" action="/api/user/sites/propose"
      method="post">
    <p>Запропонувати ресурс</p>
    <input style="margin-left: 20px" name="url" type="url"/>
    <button type="submit" style="margin-left: 20px">Відправити</button>
</form>
<div style="display: flex;margin-top: 20px;">
    <div style="display: flex; position: relative;width: 100%;align-items: center;">
        <img style="width: 100%;height: 222px" src="/static/img/big-flag.webp">
        <h3 style="white-space: nowrap;margin-left: auto; margin-right: auto;font-size: 85px;position: absolute;left: 0;right: 0;text-align: center;">
            Слава Україні!</h3>
    </div>
</div>
<div class="how-to-start">
    <div style="display: flex; flex-direction: column">
        <h2 id="how-to-start-text" style="margin: auto;cursor: pointer">How to start</h2>
        <div id="how-to-start-blocks"
             style="justify-content: space-around;display: flex;visibility: hidden; height: 0; transition: all 0.5s ease-in">
            <div class="how-to-start-block">
                <div style="margin: 20px; display: flex;flex-direction: column;align-items: center;">
                    <h2>1</h2>
                    <p>Better to enable Russian VPN location!</p>
                </div>
            </div>
            <div class="how-to-start-block">
                <div style="margin: 20px; display: flex;flex-direction: column;align-items: center;">
                    <h2>2</h2>
                    <ol>
                        <li>Browser based DDoS (браузерні):
                            <ol>
                                <li><a target="_blank" href="https://eitzen.at/fckptn">eitzen.at/fckptn</a></li>
                                <li><a target="_blank" href="https://cyber-yozh.com/">cyber-yozh.com</a></li>
                            </ol>
                        </li>
                        <li>GitHub repos for
                            <ol>
                                <li><a target="_blank"
                                       href="https://github.com/eitzenbe/StandWithUkraine">eitzen.at/fckptn</a>
                                </li>
                            </ol>
                        </li>
                        <li>Standalone DDoS (програми для комп`ютера)
                            <ol>
                                <li><a target="_blank" href="https://sourceforge.net/projects/loic/">LOIC executable</a>
                                </li>
                            </ol>
                        </li>
                        <li><a target="_blank" href="https://pastebin.com/CBG3s1WC">Docker based DDoS (instruction)</a>
                        </li>
                        <li><a target="_blank"
                               href="https://focus.ua/digital/507907-ukrainskie-aytishniki-ustraivayut-ddos-ataki-na-rossiyskie-sayty-pomoch-mozhet-kazhdyy">Інструкція
                            для DDoS</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <img id="how-to-open-img"
             style="width: 30px;cursor: pointer;margin-top: 20px;margin-left: auto; margin-right: auto"
             src="/static/img/arrow-down.png">
    </div>
</div>

<h3 style="margin-left: auto;margin-right: auto; margin-bottom: 20px">Attack resources (Ресурси для атаки)</h3>

<div class="table-outer">
    <table style="text-align: center;">
        <tr style="position: sticky;top: -20px;background-color: deepskyblue;">
            <td class="bold">№</td>
            <td class="bold">Name</td>
            <td class="bold">Comment</td>
            <td class="bold">Url</td>
            <td class="bold">IP</td>
            <td class="bold">Location</td>
        </tr>
        <tr th:each="site, iter: ${sites}"
            th:style="'background-color: ' + ${site.cantPing ? 'lightblue' : (site.online ? 'lightgreen' : 'indianred')}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${site.name}"></td>
            <td th:text="${site.comment}"></td>
            <td th:text="${site.url}"></td>
            <td th:text="${site.ip}"></td>
            <td th:text="${site.location == null ? '' : site.location}"></td>
        </tr>
    </table>
</div>
<script defer th:src="@{/static/javascript/scripts.js}"></script>
</body>
<footer>
    <div style="display: flex; margin: 20px;width: 100%;justify-content: space-between;align-items: center;">
        <div style="width: 500px;">
            <h2 style="text-align: center;">You can help project<br>to live & grow up!</h2>
        </div>
        <img style="width: 90px;height: 80px;" src="/static/img/trident.png">
        <div style="display: flex;width: 500px;">
            <div style="display: flex; flex-direction: column; align-items: center;width: 250px;">
                <p style="margin: auto">Card</p>
                <p style="margin: auto">4441 1144 5574 8515</p>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;width: 250px;">
                <p style="margin: 0">WebMoney</p>
                <p style="margin: 0">Euro - E238320559692</p>
                <p style="margin: 0">Dollar - Z296258954941</p>
            </div>
        </div>
    </div>
</footer>
<div style="height: 100px"></div>
</html>