<!doctype html>
<html lang="en-GB" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DDoS Monitor</title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico"/>
    <link rel="stylesheet" media="screen" th:href="@{/static/styles/styles.css}">
</head>
<header>
    <div style="width: 100%;margin-left: 80px;margin-right: 80px;">
        <div style="display: flex">
            <a href="/">
                <div class="button">
                    <p>Main</p>
                </div>
            </a>
            <a href="/leaked">
                <div class="button">
                    <p>Leaked</p>
                </div>
            </a>
            <a target="_blank" href="/swagger-ui/">
                <div class="button">
                    <p>API</p>
                </div>
            </a>
            <a class="opacity-on-hover" target="_blank" href="https://t.me/ddosmonitor"><img
                    src="https://img.icons8.com/color/48/000000/telegram-app--v1.png"/></a>
        </div>
    </div>
</header>
<body style="display: flex; flex-direction: column">
<div style="margin-top: 20px">
    <div class="leaked-block" style="background: yellow">
        <div style="margin: 20px;display: flex;flex-direction: column;">
            <p style="text-align: center">
                President putin deducts money from the cards of ordinary people to finance the war in Ukraine.<br>
                Leaked 20 000 russian Sberbank cards. Most of them are active and have a money.
                <br>
                <br>
                Президент путін списує гроші з карток простих людей на фінансування війни в Україні.<br>
                Злиті 20 000 карт російського Сбербанку з усіма даними. Більшість з них активні та мають кошти.
            </p>
            <a target="_blank"
               href="https://drive.google.com/file/d/1SwOW0g6-ZLwyxzDpMrxTzbZkfpYbBmcd/view?usp=sharing">
                <div class="leaked-block-button" style="background-color: green;border-radius: 20px;">
                    <p style="margin: auto; color: white">Click</p>
                </div>
            </a>
        </div>
    </div>
    <div class="leaked-block" style="margin-left: auto; background: chartreuse">
        <div style="margin: 20px;display: flex;flex-direction: column;">
            <p style="text-align: center">
                Contacts of many people from the Government of the Russian Federation.
                <br>
                Контакти багатьох людей з Уряду Російської Федерації.
            </p>
            <a target="_blank" href="https://drive.google.com/file/d/1j32-xzRNQoC8yKy0msxdYqdI5YYvuC7X/view?usp=sharing">
                <div class="leaked-block-button" style="background-color: green;border-radius: 20px;">
                    <p style="margin: auto; color: white">Click</p>
                </div>
            </a>
        </div>
    </div>
    <div class="leaked-block" style="background: yellow">
        <div style="margin: 20px;display: flex;flex-direction: column;">
            <p style="text-align: center">
                A lot of other names, contacts of of many people from the Government, main organizations and others.
                <br>
                Багато інших імен, контактів багатьох людей з Уряду, головних структур та інше.
            </p>
            <a target="_blank"
                  href="https://docs.google.com/document/d/1Sx9ljy4e6Idj4RnXojbNV3R3jc0LEMeJ/edit?usp=sharing&ouid=104331636342827358591&rtpof=true&sd=true">
                <div class="leaked-block-button" style="background-color: green;border-radius: 20px;">
                    <p style="margin: auto; color: white">Click</p>
                </div>
            </a>
        </div>
    </div>
    <div class="leaked-block" style="margin-left: auto; background: chartreuse">
        <div style="margin: 20px;display: flex;flex-direction: column;">
            <p style="text-align: center">
                120 000 personal data of russian soldiers, who now warring in Ukraine
                <br>
                120 000 особистих даних російських солдатів, які зараз воюють в Україні
            </p>
            <a target="_blank" href="https://s3.documentcloud.org/documents/21280272/orcs.pdf">
                <div class="leaked-block-button" style="background-color: green;border-radius: 20px;">
                    <p style="margin: auto; color: white">Click</p>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>